@media(max-width: 560px) {
    body {
        background-size: 100%;
    }

    #pokedex .content {
        grid-template-columns: repeat(1, 2fr);
    }

    #pokedex .pokemonList .pokemons {
        grid-template-columns: repeat(3, 2fr);
    }
}